---
import { Image } from "astro:assets";
import ALink from "../../components/ALink.astro";
import Layout from "../../layouts/Layout.astro";
import type { MealAPIResponse } from "../../types/mealApiResponse";

const { name } = Astro.params;

const API_URL = `https://www.themealdb.com/api/json/v1/1/search.php?s=${name}`;

const respone = await fetch(API_URL);
const result = (await respone.json()) as MealAPIResponse;

const meal = result.meals[0];
---

<Layout title={`Meal ${name}`}>
  <main class="p-10 grid grid-cols-3 items-center place-items-center">
    <article>
      <h1 class="text-4xl">Name: {meal.strMeal}</h1>
      <img src={meal.strMealThumb} alt={meal.strMeal} width={300} />
      <h2 class="text-3xl">Category: {meal.strCategory}</h2>
      <h3 class="text-2xl">Area: {meal.strArea}</h3>
    </article>
    <article>
      <h3 class="text-2xl">
        Video: <ALink href={meal.strYoutube}>{meal.strYoutube}</ALink>
      </h3>

      <h3 class="text-2xl">
        Article: <ALink href={meal.strSource}>{meal.strSource}</ALink>
      </h3>
    </article>
    <article>
      <h3 class="text-2xl">Instructions:</h3>
      <p class="text-lg">{meal.strInstructions}</p>
    </article>
  </main>
</Layout>
